.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 250px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #222;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
